{{ define "body" }}

<h2>Log In</h2>

<form action="/api/login" method="POST">
    <dl>
        <dt><label for="username">Username:</label></dt>
        <dd>
            <input id="username" type="text" name="username" size="30">
        </dd>

        <dt><label for="password">Password:</label></dt>
        <dd>
            <input id="password" type="password" name="password" size="30">
        </dd>
    </dl>

    <div class="actions">
        <input type="submit" id="login-button" value="Log In">
    </div>
</form>

{{ end }}